@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss";

body {
  font-family: "Geist", sans-serif;
  background-color: #fff;
  color: #0a0a0a;
  box-sizing: border-box;
}
/* 
* {
  outline: 1px solid red;
} */

a:not([class*="no-underline"]) {
  color: #ff4800;
  @apply underline;
}

.accordion {
  width: 100%;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-title:hover {
}

.accordion-content,
.accordion-title {
  padding: 0.5rem 0;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal-content {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 90%;
  max-width: 1000px;
  height: 80%;
  max-height: 700px;
}

.hidden {
  display: none;
}

.marquee-container {
  position: relative; /* Needed for positioning the gradient */
  overflow: hidden; /* Hide the parts of the marquee that are outside the gradient */
}

.marquee-container::before {
  content: "";
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px; /* Adjust the width of the fade effect as needed */
  pointer-events: none; /* Allow interaction with the marquee content */
  background: linear-gradient(
    to left,
    transparent,
    white
  ); /* Fade on the left side */
}

.marquee-container::after {
  content: "";
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px; /* Adjust the width of the fade effect as needed */
  pointer-events: none; /* Allow interaction with the marquee content */
  background: linear-gradient(
    to right,
    transparent,
    white
  ); /* Fade on the right side */
}

h1 {
  font-size: 6rem;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: -0.05em;
}

.mono {
  font-family: "Space Mono", monospace;
}
